<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          xmlns:tools="http://schemas.android.com/tools">

    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="MyTranscript"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon, android:label">
        <!-- You can add other components here like activities, services, etc. -->
    </application> <!-- Closing the application tag here -->

</manifest> <!-- Closing the manifest tag here -->
